Rigor and reproducibility are at the core of modern science. Many new initiatives and tools have been established to address barriers to reproducibility. While very welcome, these projects have led to a proliferation of online tools and resources which can be hard to sift through.

Reproducibility for Everyone (R4E) is a global, community-led reproducibility education initiative. R4E runs practical and accessible workshops to introduce the concept of reproducibility to researchers. We demonstrate reproducible tools and methods that can improve research by making it more efficient, transparent, and rigorous. Every R4E workshop is customized for the audience. Since 2018, R4E volunteer instructors have reached over 2500 researchers around the world through over 40 workshops.

This webinar will introduce reproducible workflows and a range of tools along the themes of organization, documentation, analysis, and dissemination. After a brief introduction to the topic of reproducibility, the workshop will provide specific tips and tools useful in improving daily research workflows. The content will include modules such as data management, electronic lab notebooks, reproducible bioinformatics tools and methods, protocol and reagent sharing, data visualization, and version control. All modules include interactive learning, real-time participation, and active knowledge sharing. The methods and tools introduced help researchers share work with their future self, their immediate colleagues, and the wider scientific community.

Following this webinar, participants will be able to:

    * Apply a conceptual framework for reproducibility, replicability, and robustness of research.
    * Explore practical, accessible tools and methods for advancing the reproducibility of research.
    * Reuse and adapt the Reproducibility for Everyone modular curriculum to their own training and research needs.
    * Evaluate their reproducibility barriers and solutions through interactive knowledge sharing.

